*{
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: rgb(85, 167, 221);
    color:white;
    border: solid rgb(105, 136, 156) 1px;
    margin:0.6%;
    padding-bottom:0.8%;
    padding-left:0.8%;

}
h1{
    text-align: center;
    font-weight: bold;  
    color: rgb(0, 0, 141);
}
.title{
    float: right;
    border: solid black 1px;
    height: 40px;
    width: 80px;
    padding-left:15px;
    padding-right:4px;
    padding-top:8px;
    padding-bottom:4px;
    color:black;
    font-weight: bold;
}
.content{
    clear:both;
    padding:1%;
}
#box1 .title{
    background-color: rgb(191, 253, 97);
}
#box2 .title{
    background-color: rgb(236, 151, 194);
}
#box3 .title{
    background-color: rgb(245, 237, 171);
}
@media (min-width:992px){
    .container{
        width:32.13%;
        height:auto;
        float: left;
    }
}
@media (max-width:991px) and (min-width:768px){
    #box1 {
        width:48.8%;
        float:left;
    }
    #box2 {
        width:48.8%;
        float:right;
    }
    #box3 {
        width:98.8%;
        float:left;
    }
}